@model PagedList.IPagedList<SDE_FIC.Models.Usuario>

@using PagedList.Mvc

@{
    ViewBag.Title = "Usuário";
    Layout = "~/Views/Shared/_Layout_Sistema.cshtml";
}

<section class="content-header">
    <h1>
        Cadastro de @{@ViewBag.Title}s        
        <small>Lista de usuários cadastrados</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <!---INICIO CONTEUDO-->
                <!---TOPO -->
                <div class="box-header no-padding">
                    <div class="box box-success collapsed-box">
                        <div class="box-header with-border">
                            <div class="row">
                                <div class="col-sm-3">
                                    <a href="~/Usuario/Create" class="btn btn-success"><i class="fa fa-plus-circle"></i>&nbsp;Novo Usuario</a>
                                </div>
                                <!--Buscar Aluno-->
                                <div class="col-sm-5">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="input-group input-group-sm" style="width: 250px;">
                                            @Html.TextBox("strCriterio", null, new { @class = "form-control", @style = "height: 35px;", @placeholder = "Funcionário..." })
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-info btn-flat" style="height: 35px;"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    }

                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!---FIM TOPO -->
                <!---INICIO DATATABLE -->
                @if (Model != null)
                {
                    <div class="box-body table-responsive">

                        <table class="table table-hover dataTable dataTables_sizing">
                            <thead>
                                <tr>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        Usuário
                                    </th>
                                    <th>
                                        Perfil
                                    </th>
                                    <th>
                                        Nome Completo
                                    </th>
                                    <th style="text-align:center;">Ação</th>
                                </tr>

                            </thead>
                            @{ int i = Model.FirstItemOnPage - 1;

                                foreach (var item in Model.OrderBy(x => x.Funcionario))
                                {

                            <tr>
                                <td>@(i = (i + 1)).</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Perfil)
                                </td>
                                <td>
                                    @item.NomeCompleto.ToUpper()
                                </td>
                                <td style="text-align:center; width: 100px;">
                                    <a href="@Url.Action("Edit", "Usuario", new { id = item.IdUsuario })"><img src="~/Content/img/editar.png" alt="Editar" /></a>
                                    <a href="#" type="button" data-toggle="modal" data-target="#modal_danger_@item.IdUsuario"><img src="~/Content/img/excluir.png" alt="Excluir" /></a>

                                    <!--MODAL PARA EXCLUSÃO-->
                                    <div class="modal modal-danger fade" id="modal_danger_@item.IdUsuario" style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                    <h4 class="modal-title">Cuidado</h4>
                                                </div>
                                                <div class="modal-body">

                                                    <p>Tem certeza de que deseja excluir o usuário cadastrado?</p>
                                                    <p>Usuário: @item.Username</p>
                                                    <p>Nome: @item.NomeCompleto</p>
                                                    <p>Perfil: @item.Perfil</p>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
                                                    <!--<button type="button" class="btn btn-outline">Sim</button>-->
                                                    <a href="@Url.Action("Delete", "Usuario", new { id = item.IdUsuario })" class="btn btn-outline">Sim</a>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>


                                </td>
                            </tr>

                                    }
                                }

                            </table>

                        <div class="box-footer clearfix">
                            <div class="row">Listando de @Model.FirstItemOnPage a @Model.LastItemOnPage de um total de @Model.TotalItemCount</div>
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { pagina = page, strCriterio = ViewBag.strCriterio }))
                        </div>
                    </div>
                }
                <!---Fim DATATABLE -->
                <!--FIM CONTEUDO-->
            </div>
        </div>
    </div>
</section>